



/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f8f9fb;
    color:#222;
    overflow-x:hidden;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

/* ==========================
   HEADER
========================== */





/* ==========================
   HERO SECTION
========================== */
.hero{
    position:relative;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}

.hero-backdrop{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.65);
    z-index:-1;
}

.hero-content{
    color:white;
    max-width:900px;
   margin-bottom:300px;

}







.primary-btn{
    background:#1a740a;
    color:#fff;
    padding:15px 35px;
    border-radius:40px;
    font-weight:600;
    transition:.3s;
}

.secondary-btn{
    border:2px solid #fff;
    color:#fff;
    padding:15px 35px;
    border-radius:40px;
    font-weight:600;
    transition:.3s;
}

.primary-btn:hover,
.secondary-btn:hover{
    transform:translateY(-5px);
}

/* ==========================
   COMMON SECTION
========================== */

section{
    padding:100px 8%;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#6d1f1f;
    margin-bottom:15px;
}

.section-title p{
    color:#000000;
}

/* ==========================
   ABOUT
========================== */

.about-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.about-image img{
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.about-content h3{
    font-size:34px;
    color:#6d1f1f;
    margin-bottom:20px;
}

.about-content p{
    line-height:1.8;
    color:#000000;
    margin-bottom:30px;
}

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.feature-box{
    background:#fff;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.feature-box:hover{
    transform:translateY(-8px);
}

.feature-box i{
    font-size:35px;
    color:#205298;
    margin-bottom:15px;
}

/* ==========================
   PROGRAMS
========================== */

.programs{
    background:#fff;
}

.program-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.program-card{
    background:#fff;
    padding:40px 25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.4s;
}

.program-card:hover{
    transform:translateY(-10px);
}

.program-card i{
    font-size:45px;
    color:#205298;
    margin-bottom:20px;
}

.program-card h3{
    margin-bottom:15px;
    color:#6d1f1f;
}

/* ==========================
   STATS
========================== */

.stats{
    background:linear-gradient(rgba(182, 109, 36, 0.9), rgba(182, 19, 19, 0.9));;
    background-size:cover;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:25px;
}

.stat-card{
    text-align:center;
    color:#fff;
}

.stat-card h2{
    font-size:55px;
    color:#d4af37;
}

.stat-card p{
    margin-top:10px;
    font-size:18px;
}

/* ==========================
   LABS
========================== */

.lab-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.lab-card{
    overflow:hidden;
    border-radius:20px;
    position:relative;
}

.lab-card img{
    height:300px;
    object-fit:cover;
    transition:.5s;
}

.lab-card:hover img{
    transform:scale(1.1);
}

.lab-info{
    position:absolute;
    bottom:0;
    width:100%;
    background:rgba(155, 30, 53, 0.7);
    color:#fff;
    padding:20px;
}

/* ==========================
   RESEARCH
========================== */

.research{
    background:#fff;
}

.research-content{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.research-box{
    background:#f8f9fb;
    text-align:center;
    padding:40px;
    border-radius:20px;
    transition:.3s;
}

.research-box:hover{
    transform:translateY(-10px);
}

.research-box i{
    font-size:50px;
    color:#d45d5d;
    margin-bottom:20px;
}

.research-box h3{
    color:#6d1f1f;
}

/* ==========================
   PLACEMENTS
========================== */

.company-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.company{
    background:#fff;
    padding:25px;
    text-align:center;
    border-radius:15px;
    font-weight:700;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

/* ==========================
   CTA
========================== */

.cta{
    text-align:center;
   background-color:rgba(255, 255, 255, 0.9);
    background-size:cover;
    color:#080808;
    border-radius:20px;
    padding:60px 20px;  
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.cta h2{
    font-size:48px;
    margin-bottom:20px;
}

.cta p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

.cta-btn{
    display:inline-block;
    margin-top:30px;
    background:#d4af37;
    color:#fff;
    padding:15px 35px;
    border-radius:40px;
    font-weight:600;
}

/* ==========================
   CONTACT
========================== */

.contact-box{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    text-align:center;
}

.contact-box div{
    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.contact-box i{
    font-size:35px;
    color:#020100;
    margin-bottom:15px;
}

.contact-box h4{
    margin-bottom:10px;
    color:#6d1f1f;
}

/* ==========================
   FOOTER
========================== */

footer{
    background:#111;
    color:#fff;
    text-align:center;
    padding:50px 20px;
}

footer h3{
    margin-bottom:15px;
}

.social-icons{
    margin:25px 0;
}

.social-icons a{
    color:#fff;
    margin:0 12px;
    font-size:20px;
    transition:.3s;
}

.social-icons a:hover{
    color:#d4af37;
}

.copyright{
    color:#bbb;
    font-size:14px;
}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:991px){

    .hero h1{
        font-size:50px;
    }

    .about-container{
        grid-template-columns:1fr;
    }

    header{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }
}

@media(max-width:768px){

    .hero h1{
        font-size:38px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:center;
    }

    .section-title h2{
        font-size:32px;
    }

    .stats{
        grid-template-columns:1fr 1fr;
    }
}

@media(max-width:576px){

    .stats{
        grid-template-columns:1fr;
    }

    .hero{
        padding:0 20px;
    }

    .hero p{
        font-size:16px;
    }
}




.programs{
    background:#f8f9fb;
}

.table-container{
    overflow-x:auto;
    margin-top:40px;
}

.program-table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.program-table thead{
    background:#6d1f1f;
    color:#fff;
}

.program-table th{
    padding:18px;
    text-align:center;
    font-size:18px;
}

.program-table td{
    padding:18px;
    text-align:center;
    border-bottom:1px solid #eee;
    font-size:16px;
}

.program-table tbody tr{
    transition:.3s;
}

.program-table tbody tr:hover{
    background:#d2df85;
}

.program-table tbody tr:nth-child(even){
    background:#fafafa;
}


/* ==========================
   Stats new section
========================== */

.stats-section{
    padding:100px 8%;
    background:
    linear-gradient(
    500deg,
    #ade7ee,
    #c94811
    );
}

.stats-heading{
    text-align:center;
    color:white;
    margin-bottom:60px;
}

.stats-heading h2{
    font-size:45px;
    margin-bottom:10px;
}

.stats-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.stat-card{
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:25px;
    padding:40px 20px;
    text-align:center;
    color:white;
    transition:0.4s;
}

.stat-card:hover{
    transform:translateY(-12px);
    box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

.stat-card i{
    font-size:50px;
    color:hsl(216, 58%, 44%);
    margin-bottom:20px;
}

.stat-card h3{
    font-size:55px;
    color:#fff;
    margin-bottom:10px;
}

.stat-card p{
    font-size:18px;
    font-weight:500;
}



/* ==========================
   Popup
========================== */

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content{
    position: relative;
    max-width: 700px;
    width: 90%;
}

.popup-content img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.close-btn{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}